<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Lobster&family=Poppins:ital,wght@0,200;0,400;1,300&display=swap" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="feature">
            <img src="/images/image5185.png" class="feature-img" alt="">
            <div class="content">
                <h3>An Amazing Experience</h3>
                <a href="#" class="cta">Learn more</a>
            </div>
        </div>

        <div class="feature">
            <img src="/images/Music.jpg" class="feature-img" alt="">
            <div class="content">
                <h3>An Amazing Experience</h3>
                <a href="#" class="cta">Learn more</a>
            </div>
        </div>

        <div class="feature">
            <img src="/images/lg-rollable-oled-tv.jpeg" class="feature-img" alt="">
            <div class="content">
                <h3>An Amazing Experience</h3>
                <a href="#" class="cta">Learn more</a>
            </div>
        </div>

        <div class="feature">
            <img src="/images/camero.jpg" class="feature-img" alt="">
            <div class="content">
                <h3>An Amazing Experience</h3>
                <a href="#" class="cta">Learn more</a>
            </div>
        </div>
    </div>
    
</body>
</html>